<h1> <h1><%= t('.header', title: @test_passage.test.title) %></h1> </h1>
<% if @test_passage.success? %>
<h1 style="color: green">Вы сдали тест,ваш результат <%=  @test_passage.result? %>%</h1>
<%  else  %>
<h1 style="color: red">Вы не сдали тест,ваш результат <%=  @test_passage.result? %>%</h1>
<% end %>
