<footer>
  <p><%= current_year %></p>
  <p>Islam Gagiev</p>
  <p><%= github_url("SynthesisOne", "Test-Guru") %></p>
  <p>Test-Guru Повзоляет создавать и проходить тесты.</p>
  <p><a href="https://thinknetica.com/" target="_blank">Учебный проект в онлайн-школе Thinknetica</a></p>
</footer>